<div class="resume">
  <header>
    <div class="content-left">
      <nav>
        <ul>
          <li><a (click)="showSection('summary')">Summary</a></li>
          <li><a (click)="showSection('experience')">Work Experience</a></li>
          <li><a (click)="showSection('education')">Education</a></li>
          <li><a (click)="showSection('skills')">Skills</a></li>
          <li><a (click)="showSection('projects')">Projects</a></li>
          <button id="theme-toggle" aria-label="Toggle night mode">
            <i class="icon">🌙</i>
          </button>
        </ul>
      </nav>

      <section>
        <ng-container *ngIf="currentSection === 'summary'">
          <app-summary></app-summary>
        </ng-container>
        <ng-container *ngIf="currentSection === 'experience'">
          <app-experience></app-experience>
        </ng-container>
        <ng-container *ngIf="currentSection === 'education'">
          <app-education></app-education>
        </ng-container>
        <ng-container *ngIf="currentSection === 'skills'">
          <app-skills></app-skills>
        </ng-container>
        <ng-container *ngIf="currentSection === 'projects'">
          <app-projects></app-projects>
        </ng-container>
      </section>
    </div>

    <div class="content-right">
      <header>
        <img src="assets/profile-pic.jpg" alt="Profile Picture" class="profile-pic">
        <h1>RAJU B.</h1>
        <p>www.rajuboda333&#64;gmail.com | (123) 456-7890</p>
        <p>
          <a href="https://www.linkedin.com/in/raju-b-51664a1b4/" target="_blank">LinkedIn</a> | 
          <a href="http://self-learning.infinityfreeapp.com/" target="_blank">Website</a>
        </p>
      </header>
    </div>
  </header>

  <script>
    document.getElementById('theme-toggle').addEventListener('click', function() {
      document.body.classList.toggle('night-mode');
      var icon = this.querySelector('.icon');
      icon.textContent = document.body.classList.contains('night-mode') ? '🌞' : '🌙';
    });

    
  </script>
</div>
